head, title, script, style {
    display: none;
}

html, body, article, section, nav, aside, h1, h2, h3, h4, h5, h6, hgroup, header, footer, address, p, hr, pre, blockquote, ol, ul, menu, li, dl, dt, dd, figure, figcaption, main, div, table, form, fieldset, legend, details, summary, center {
    display: block;
}

body {
    margin: 1em;
}

* + * { margin-top: 0.5em; }
h1 { font-weight: bold; font-size: 2em; }
h2 { font-weight: bold; font-size: 1.5em; }
h3 { font-weight: bold; font-size: 1.25em; }
h4 { font-weight: bold; font-size: 1em; }
h5 { font-weight: bold; font-size: 0.75em; }
h6 { font-style: italic; font-size: 0.75em; }
center { text-align: center; }
b, strong, dt { font-weight: bold; }
i, cite, em, var, address, blockquote { font-style: italic; }
hr { border: 0.25em solid #808080; }
