head, title, script, style {
    display: none;
}

html, body, article, section, nav, aside, h1, h2, h3, h4, h5, h6, hgroup, header, footer, address, p, hr, pre, blockquote, ol, ul, menu, li, dl, dt, dd, figure, figcaption, main, div, table, form, fieldset, legend, details, summary {
    display: block;
}
